body {font-family: 'Roboto', sans-serif;
color: #2E2F42;}
a {text-decoration: none;}
.navigathoin-page, .addres-list {list-style-type: none;
font-size: 16px; line-height: 1.5; font-weight: 500;}
.company {font-family: 'Raleway',
    sans-serif; font-weight: 700; line-height: 1.667; font-size: 18px;}
    .web {color: #4D5AE5;}
.addres-list{color: #434455; font-weight: 400;}
.navigathoin .navigathoin-page :hover, .addres-list :hover,.navigathoin .navigathoin-page:active,
.addres-list:active {color: #404BBF; }
.navigathoin-page-list:active{text-decoration: underline;}
.hero-section {background-color: #2E2F42;}
.hero {color: white; font-size: 56px; font-weight: 700; line-height: 1.07; text-align: center;}
.buton-order {color: #4D5AE5; text-shadow: 0px,4px,4px,#000000;cursor: pointer;font-size: 16px;
    line-height: 1.5;
    font-weight: 500;}
.buton-order :hover, .buton-order :active{color: #404BBF;text-shadow: 0px, 4px, 4px, #000000; cursor: pointer;font-size: 16px;
    line-height: 1.5;
    font-weight: 500;}
.Company-benefits {visibility: hidden;} 
.benefits-list, .our-team-list, .project-list {list-style-type: none;}
.our-team, .project {font-weight: 700;font-size: 36px; line-height: 1.11;}
.name-project, .name, .name-benefits {font-weight: 500;font-size: 20 px;line-height: 1.2;}
.about-benefits, .work, .type-project {color: #434455;font-size: 16px;line-height: 1.5;}
.footer {background-color: #2E2F42;}
.company-footer{font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    line-height: 1.667;
    font-size: 18px;color: #F4F4FD;
}
.company-footer .web {color: #4D5AE5;}
.footer-text {color: #F4F4FD;font-size: 16px;
    line-height: 1.5;}