.body {font-family: 'Roboto', sans-serif;
color: #434455; background-color: #FFFFFF;}
a {text-decoration: none;}
.navigathoin-page, .addres-list {list-style-type: none;
font-size: 16px; line-height: 1.5; font-weight: 500;letter-spacing: 0.02em;color: #434455;}
.company {font-family: 'Raleway',
    sans-serif; font-weight: 700; line-height: 1.17; font-size: 18px;letter-spacing: 0.03em;text-transform: uppercase;color: #4d5ae5;}
    .web {color: #2e2f42;}
 .addres {
            font-style: normal
        }
.addres-list{color: #434455; font-weight: 400;}
.mail-phone:hover, .mail-phone:focus, .sate:active, .sate:focus {color: #404bbf;}
 .navigathoin-page-list:focus{text-decoration: underline;color: #2e2f42;}
.hero-section {background-color: #2E2F42;}
.hero {color: white; font-size: 56px; font-weight: 700; line-height: 1.07; text-align: center; letter-spacing: 0.02em;}
.buton-order {color: #ffffff; text-shadow: 0px,4px,4px,#000000;cursor: pointer;font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
background-color: #4D5AE5;
letter-spacing: 0.04em;}
.buton-order:hover,.buton-order:focus{background-color: #404BBF;color: #ffffff;text-shadow: 0px, 4px, 4px, #000000; cursor: pointer;font-size: 16px; line-height: 1.5;font-weight: 500;}
.Company-benefits {visibility: hidden;} 
.team-section {background-color: #F4F4FD;}
.our-team-pepole{background-color: #FFFFFF;}
.benefits-list, .our-team-list, .project-list {list-style-type: none;}
.our-team, .project {font-weight: 700;font-size: 36px; line-height: 1.11;text-transform: capitalize;text-align: center; letter-spacing: 0.02em;color: #2e2f42;}
.name-project, .name, .name-benefits {font-weight: 500;font-size: 20px;line-height:1.2;letter-spacing: 0.02em; text-transform:capitalize;color: #2e2f42;}
.about-benefits, .work, .type-project {color: #434455;font-size: 16px;line-height: 1.5;letter-spacing: 0.02em}
.footer {background-color: #2E2F42;}
.company-footer{font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;color: #4d5ae5; 
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.company-footer .web {color: #f4f4fd;}
.footer-text {color: #F4F4FD;font-size: 16px; line-height: 1.5;letter-spacing: 0.02em}